$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$site-height: 800px;
$tiny-margin: 10px;
$small-margin: 30px;
$large-margin: 100px;
$box_padding: 30px;
$normal-font-size: 14px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html {
  height: 100%;
}

body {
  height: 100%;
  background: black;
  color: white;
  position: relative;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
}

.float_left {
  float: left;
}

.icon_in_box {
  float: left;
  margin-right: 20px;
}

.right_of_icon {
  float: left;
  width: 60%;
}

.nav {
  position: fixed;
  left: 50px;
  z-index: 100;
  height: 90px;
  overflow: hidden;

  .nav_item {
    display: inline-block;
    height: 90px;
    width: 90px;
    margin-right: 20px;
    cursor: pointer;
  }

  #nav1 {
    background: transparent url('/images/menu-icons-sprite.png') 0px -90px no-repeat;
    &.active {
      background-position: 0 0px; 
    }
  }

  #nav2 {
    background: transparent url('/images/menu-icons-sprite.png') -90px -90px no-repeat;
    &.active {
      background-position: -90px 0px; 
    }
  }

  #nav3 {
    background: transparent url('/images/menu-icons-sprite.png') -180px -90px no-repeat;
    &.active {
      background-position: -180px 0px; 
    }
  }
}

.section {
  float: left;
  overflow: hidden;
  position: relative;
  max-height: 800px;
}

.col_container {
  display: flex;

  .eq_col {
    padding: $box_padding
  }
}

.quote_pull_right {
  margin-top: $small-margin;
  margin-left: 500px;
}

.small_margin_top {
  margin-top: $small-margin;
}

.large_margin_top {
  margin-top: $large-margin;
}

.tiny_margin_bottom {
  margin-bottom: $tiny_margin;
}

.blur_me {
  display: block;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-filter: blur(25px);
}

.minutes {
  margin-top: $small-margin;
}

.block {
  margin: 0 50px;
  float: left;
  position: relative;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}


.two_thirds {
  width: 800px;
}

.one_third {
  width: 400px;
}

.one_fourth {
  width: 300px;
}

.height_0 {
  top: 10%;
}

.height_1 {
  top: 26%;
}

.height_2 {
  top: 45%;
}

.height_3 {
  top: 60%;
}

.height_4 {
  top: 78%;
}

.title {
  font-size: 60px;
}

.subtitle {
  font-size: 30px;
}

.film_blurb {
  margin-top: 50px;
}

.solid_block {
  background: white;
  color: #4A4A4A;
  height: 69%;
  font-size: 30px;
  padding: 20px;
  width: 800px;

  &.small {
    width: 100%;
    font-size: $normal-font-size;
    height: 30vh;
  }
}

.watch_button {
  margin-top: 30px;
  width: 200px;
  text-align: center;
  border: 1px solid white;
  padding: 10px 0px;
  cursor: pointer;
}

.title_image_scaled {
  height: 100%;
  width: auto;
}

.title_text_container {
  display: none;
  width: 1062px;
  height: $site-height;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    &.fade_me_out {
      opacity: 0;
    }

    &.fade_me_in {
      opacity: 1;
    }
  }

  .bottom {
    opacity: 0;
    z-index: 10;
  }
}

.pullquote {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 100px;
}

.horiz_background {
  position: fixed;
  z-index: 10;
  background: transparent url('/images/clouds_pano_2.jpg') 0 0 repeat-x; 
  background-size: auto 100%;
  top: 0;
  left: 0;
  width: 40000px;
  transition: transform 800000s linear, -webkit-filter 1s linear;
  height: 100vh;

  &.animate_me {
    transform:translate(-4000000px);
  }
}

.foreground {
  max-height: 800px;
  width: 20000px;
  position: absolute;
  z-index: 20;
  top: 90px; 
  left: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /* max-width: 730px; */
  }
}

/* ----------- Most Mobile Devices ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .foreground {
      height: 100vh;
      overflow: hidden; 
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  // and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px)  
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}
