$icon-font-path: "../bower_components/bootstrap-sass/assets/fonts/bootstrap/";
$site-height: 800px;
$small-margin: 30px;
$large-margin: 100px;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

body {
  background: black;
  color: white;
}

.nav {
  position: fixed;
  left: 50px;
  top: 50px;
  z-index: 100;

  .nav_item {
    display: inline-block;
    height: 90px;
    width: 90px;
    margin-right: 20px;
    cursor: pointer;
  }

  #nav1 {
    background: transparent url('/images/menu-icons-sprite.png') 0px -90px no-repeat;
    &.active {
      background-position: 0 0px; 
    }
  }

  #nav2 {
    background: transparent url('/images/menu-icons-sprite.png') -90px -90px no-repeat;
    &.active {
      background-position: -90px 0px; 
    }
  }

  #nav3 {
    background: transparent url('/images/menu-icons-sprite.png') -180px -90px no-repeat;
    &.active {
      background-position: -180px 0px; 
    }
  }
}

.section {
  float: left;
  height: 100%;
  position: relative;
}

.small_margin_top {
  margin-top: $small-margin;
}

.large_margin_top {
  margin-top: $large-margin;
}

.blur_me {
  display: block;
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  -webkit-filter: blur(25px);
}

.block {
  margin: 0 50px;
  float: left;
  position: relative;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

.one_third {
  width: 400px;
}

.one_fourth {
  width: 300px;
}

.height_0 {
  top: 10%;
}

.height_1 {
  top: 31%;
}

.height_2 {
  top: 50%;
}

.height_3 {
  top: 67%;
}

.height_4 {
  top: 87%;
}

.film_title {
  font-size: 60px;
}

.film_subtitle {
  font-size: 30px;
}

.film_blurb {
  margin-top: 50px;
}

.solid_block {
  background: white;
  color: #4A4A4A;
  height: 69%;
  font-size: 30px;
  padding: 20px;
}

.watch_button {
  margin-top: 30px;
  width: 200px;
  text-align: center;
  border: 1px solid white;
  padding: 10px 0px;
  cursor: pointer;
}

.title_text_container {
  width: 1062px;
  height: $site-height;
  position: relative;

  img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    &.fade_me_out {
      opacity: 0;
    }

    &.fade_me_in {
      opacity: 1;
    }
  }

  .bottom {
    opacity: 0;
    z-index: 10;
  }
}

.pullquote {
  position: absolute;
  top: 50px;
  right: 100px;
  width: 100px;
}

.horiz_background {
  position: fixed;
  z-index: 10;
  background: transparent url('/images/clouds_pano_2.jpg') 0 0 repeat-x; 
  background-size: auto 100%;
  top: 0;
  left: 0;
  width: 40000px;
  transition: transform 800000s linear, -webkit-filter 1s linear;
  height: 100vh;

  &.animate_me {
    transform:translate(-4000000px);
  }
}

.foreground {
  height: 800px;
  width: 20000px;
  position: absolute;
  z-index: 20;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    /* max-width: 730px; */
  }
}

/* ----------- Most Mobile Devices ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

    .foreground {
      height: 100vh;
      overflow: hidden; 
    }

}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px) 
  // and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 736px)  
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

}





















/* below here is from the vertical site */
/*
.full_vid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url('../images/mistyMountain.jpg') no-repeat;
  background-size: cover;
}

.full_image {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.content {
  z-index: 110;
  position: relative;
}

section {
  height: 100vh;
  width: 100%;
}

.start_row {
  margin-top: 200px;
  color: white;
}

.fill_container {
  width: 100%;
  height: auto;
}

#section3 {
  background: pink;
}

.box1 {
  background: white;
  height: 200px;
  width: 300px;
}

.page_container {
  position: relative;
}

.vid1 {
  z-index: 100;
}

.vid2 {
  z-index: 90;
}

.film1_background {
  z-index: 80;
}

.horiz_scroll_container {
  overflow-x: scroll;
  height: 100%;
  border: 1px dashed green;

  .films_container {
    height: 100%;

    .film {
      width: 100vw;
      height: 100%;
    }

  }
}
*/
